@page "/"
@model IndexModel

@{
    ViewData["Title"] = "AI Assistant";
}

<div class="d-flex justify-content-center align-items-center my-5">
    <img src="https://s3-alpha-sig.figma.com/img/1096/a900/0501926ad8acbf7eb2eb0658d6625077?Expires=1745798400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=QRlb6E0PsWuO4IQquGsTIIfi500w-cX~qrBW6HLPGZGpLHcxJY83OsegvHg0hx6xWbleyeMvQ7fKotiQK9NBgQxBUGsquELl1K0a0PIa8uZnM5qQnjYAAS2Z0jlkXZKWXx6MPeBGmF40gnBMDWkIFFMwbtO-aP7ITICEDCJMaNGu5tWLI0XJZPuLRXiSoxmNJ2FNLpVwQBUi6jpAy2h5v8P4XN2LrHC79hIUjSTxRMPbVWze-DDfVsZzCJ55KPdbXGYiZ-Gh2b~3C9eKYK7gZ4a7~Q-buBUPwwbWSnPqEMUt-NyTQc8aBX7kBfMjCdeWINfCTDLF0tpRsdxj326inw__"
         class="img-fluid rounded shadow animate__animated animate__fadeIn"
         style="max-width: 500px;"
         alt="Demo Animation" />
</div>