<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AIAssistantMacos.styles.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Hammersmith+One&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand fw-bold text-purple" asp-area="" asp-page="/Index">AI Site Design</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
                <!-- Left nav items -->
                <ul class="navbar-nav mx-auto w-auto gap-115">
                    <li class="nav-item">
                        <a class="nav-link text-gray inter-font-medium" asp-page="/Index">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-gray inter-font-medium" asp-page="/Privacy">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-gray inter-font-medium" asp-page="/Privacy">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-gray inter-font-medium" asp-page="/Privacy">Blog</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center gap-3">
                    <a class="btn btn-link text-black fw-semibold text-decoration-none" href="#">Free Trial</a>
                    <a class="btn btn-dark shadow text-white" style="box-shadow: 0 0 8px #915EFF;" href="#">Get Plan</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - AIAssistantMacos - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>