@page "/blog"
@model BlogListModel

@{
    ViewData["Title"] = "Blog";
}

<img src="~/images/blog-banner.png" asp-append-version="true" alt="Blog Header" class="img-fluid w-100 mt-0" />

<div class="container py-5">
    <div class="row g-4">
        @foreach (var blog in Model.Posts)
        {
            <partial name="_BlogPostCard" model="@blog"/>
        }
    </div>
</div>